<header>
  <ul class="flex flex-row justify-between items-center h-[48px]">
    <li>
      <button
        type="button"
        aria-label="mypage-button"
        class="flex justify-center items-center"
      >
        <i class="fa-regular fa-user"></i>
      </button>
    </li>
    <li>
      <a class="text-lg text-Primary font-bold" href="/">GASHIL</a>
    </li>
    <li>
      <button
        type="button"
        aria-label="search-button"
        class="flex justify-center items-center"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </li>
  </ul>
</header>
