{% extends 'layout.html' %} {% block content %}{% set title = "가입하기" %} {%
include './header/backHeader.html' with context %}
<form
  class="flex flex-col justify-between min-h-[91vh]"
  id="join_form"
  method="POST"
  action="{{ url_for('users.join_user') }}"
>
  <div class="flex flex-col">
    <div class="text-[22px] font-bold mt-[24px]">
      <h1>아래 정보로</h1>
      <h1>가입을 진행합니다.</h1>
    </div>
    <div class="mt-[48px] flex flex-col gap-[20px]">
      <!-- id input -->
      {% set placeholder = "아이디 입력" %}{% set input_type = "text" %}{% set
      input_name = "user_id" %}{% set aria_label = "user_id" %}{% set input_id =
      "user_id" %}{% set input_value = form_data.user_id if form_data else ''
      %}{% include './components/input.html' with context %}
      <small class="-mt-[18px] ml-2 text-red-600" id="password_error"
        >{{ id_error if id_error else '' }}</small
      >
      <!-- ps input -->
      {% set placeholder = "비밀번호 입력" %}{% set input_type = "password" %}{%
      set input_name = "password" %}{% set aria_label = "password" %}{% set
      input_id = "password" %}{% set input_value = form_data.password if
      form_data else '' %}{% include './components/input.html' with context %}
      <!-- ps verify input -->
      {% set placeholder = "비밀번호 재입력" %}{% set input_type = "password"
      %}{% set input_name = "password_confirm" %}{% set aria_label = "password"
      %}{% set input_id = "password_confirm" %}{% set input_value =
      form_data.password if form_data else '' %}{% include
      './components/input.html' with context %}
      <small class="-mt-[18px] ml-2 text-red-600" id="password_error"
        >{{ error if error else '' }}</small
      >
      <!-- nickname input -->
      {% set placeholder = "닉네임 입력" %}{% set input_type = "text" %}{% set
      input_name = "nickname" %}{% set input_id = "nickname" %}{% set aria_label
      = "nickname" %}{% set input_value = form_data.nickname if form_data else
      '' %} {% include './components/input.html' with context %}
      <small class="-mt-[18px] ml-2 text-gray-600"
        >가급적 본명을 사용해주세요.</small
      >
    </div>
  </div>
  <button
    id="request_join_btn"
    type="submit"
    class="w-full h-[56px] text-white rounded-lg font-bold text-Body-1 bg-Low"
  >
    가입하기
  </button>
</form>
{% endblock %}
