{% extends 'layout.html' %} {% block content %} {% include
'./header/mainHeader.html' with context %}
<ul class="flex flex-row gap-[10px] overflow-auto my-6 mx-2" id="filters"></ul>
<ul class="flex flex-col mx-2 mt-[38px] gap-[20px] h-[78vh] overflow-auto">
  {% for post in posts %} {% set post_data = post %} {% set current_user_id =
  user_id %} {% include './components/post.html' %}{% endfor %}
</ul>
<div class="sticky bottom-12 ml-auto mr-4">
  <a
    aria-label="new-post-button"
    class="w-[60px] h-[60px] rounded-full bg-Primary flex items-center justify-center shadow-lg"
    href="/posts/new"
  >
    <i class="fa-solid fa-plus text-[24px] text-white"></i>
  </a>
</div>
{% endblock %}{% block script %} {% set script_required = true %} {% set
script_file = 'javascripts/posts.js' %} {% endblock %}
