{% extends 'layout.html' %} {% block content %}{% set title = "가입하기" %} {%
include './header/backHeader.html' with context %}
<div class="flex justify-center items-center mt-[20px]">
  <span class="text-[18px] font-semibold"
    >{{ user_id if user_id else '회원' }}</span
  ><span class="text-[16px]">님의 카풀 일정입니다 🚖</span>
</div>
<ul class="flex flex-col mx-2 mt-[38px] gap-[20px] h-[78vh] overflow-auto">
  {% for post in posts %} {% set post_data = post %} {% set current_user_id =
  user_id %} {% include './components/post.html' %}{% endfor %}
</ul>
{% endblock %}
