{% extends 'layout.html' %}{% block content %}{% set title = "글쓰기" %}{%
include './header/backHeader.html' with context %}
<div class="mx-4 flex flex-col justify-between h-[91vh]">
  <div class="mt-[38px]">
    <div class="flex justify-between items-center">
      <div
        class="flex w-1/2 flex-col justify-center items-center gap-3 border-b-[1px] pb-2"
      >
        <p class="text-[16px]">출발</p>
        <input
          class="outline-none placeholder:text-gray-400 placeholder:font-normal w-full font-semibold text-[24px] text-center"
          placeholder="출발지"
        />
      </div>
      <i class="fa-solid fa-arrow-right text-gray-400 text-[20px] px-6"></i>
      <div
        class="flex w-1/2 flex-col justify-center items-center gap-2 border-b-[1px] pb-2"
      >
        <p class="text-[16px]">도착</p>
        <input
          class="outline-none placeholder:text-gray-400 placeholder:font-normal text-center w-full font-semibold text-[24px]"
          placeholder="도착지"
        />
      </div>
    </div>
    <div class="mt-12">
      <p class="text-[16px] text-Strong">가는날</p>
      <div class="relative flex justify-center items-center">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 1 0 0-2Z"
            />
          </svg>
        </div>
        <input
          id="datetimepicker"
          type="text"
          class="w-full ps-10 text-[18px] outline-none"
          placeholder="날짜와 시간을 선택해주세요."
        />
      </div>
    </div>
    <div class="mt-12">
      <p class="text-[16px] text-Strong">인원 선택</p>
      <div class="flex justify-between items-center mt-2">
        <div class="ml-2">
          <span class="text-[18px]">4</span>
          <span class="text-[18px]">명</span>
        </div>
        <div class="flex gap-4">
          <button
            aria-label="minus-button"
            class="w-[40px] h-[40px] rounded-full bg-gray-100 text-gray-600 flex justify-center items-center"
          >
            <i class="fa-solid fa-minus font-semibold"></i>
          </button>
          <button
            aria-label="plus-button"
            class="w-[40px] h-[40px] rounded-full bg-gray-100 text-gray-600 flex justify-center items-center"
          >
            <i class="fa-solid fa-plus font-semibold"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="mt-12">
      <p class="text-[16px] text-Strong">메모</p>
      <div class="flex justify-between items-center mt-2">
        <textarea
          rows="1"
          class="w-full outline-none resize-none pb-2 border-b-[1px]"
          placeholder="메모를 작성할 수 있어요."
        ></textarea>
      </div>
    </div>
  </div>
  <button
    id="request_post_btn"
    type="submit"
    class="w-full h-[56px] text-white rounded-lg font-bold text-Body-1 bg-Low"
  >
    작성하기
  </button>
</div>
{% endblock %}
