{% extends 'layout.html' %}{% block content %}{% include
'./header/backHeader.html' with context %}
<form
  class="mx-4 flex flex-col justify-between h-[91vh]"
  id="update_post_form"
  method="POST"
  action="{{ url_for('posts.create_post') }}"
>
  <div class="mt-[38px]">
    <div class="flex justify-between items-center gap-5">
      <div class="flex flex-col justify-center gap-2 border-b-[1px] pb-2">
        <p class="text-[16px] text-Strong">출발</p>
        <input
          id="departure"
          name="departure"
          type="text"
          class="outline-none placeholder:text-gray-400 placeholder:font-normal w-full font-semibold text-[24px] mt-2"
          placeholder="출발지"
        />
      </div>
      <div class="flex flex-col justify-center gap-2 border-b-[1px] pb-2">
        <p class="text-[16px] text-Strong">도착</p>
        <input
          id="destination"
          name="destination"
          type="text"
          class="outline-none placeholder:text-gray-400 placeholder:font-normal w-full font-semibold text-[24px] mt-2"
          placeholder="도착지"
        />
      </div>
    </div>
    <div class="mt-12">
      <p class="text-[16px] text-Strong">가는날</p>
      <div class="relative flex">
        <input
          id="datetimepicker"
          name="date"
          type="text"
          class="w-full text-[18px] outline-none border-b-[1px] py-2"
          placeholder="날짜와 시간을 선택해주세요."
        />
      </div>
    </div>
    <div class="mt-12">
      <p class="text-[16px] text-Strong">총 인원 선택</p>
      <div class="flex justify-between items-center mt-2 border-b-[1px] pb-2">
        <div class="ml-2">
          <input
            name="rides_limit"
            type="text"
            id="rides_limit"
            value="4"
            class="text-[18px] outline-none max-w-[20px] focus:outline-none"
          />
          <span class="text-[18px]">명</span>
        </div>
        <div class="flex gap-5" id="control_buttons_div">
          <button
            type="button"
            aria-label="minus-button"
            class="w-[30px] h-[30px] rounded-full bg-gray-100 text-gray-600 flex justify-center items-center outline-none"
            id="minus_button"
          >
            <i class="fa-solid fa-minus font-semibold text-sm"></i>
          </button>
          <button
            type="button"
            aria-label="plus-button"
            class="w-[30px] h-[30px] rounded-full bg-gray-100 text-gray-600 flex justify-center items-center outline-none"
            id="plus_button"
          >
            <i class="fa-solid fa-plus font-semibold text-sm"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="mt-12">
      <p class="text-[16px] text-Strong">메모</p>
      <div class="flex justify-between items-center mt-2">
        <textarea
          id="memo"
          name="memo"
          rows="1"
          class="w-full outline-none resize-none pb-2 border-b-[1px] text-[18px]"
          placeholder="메모를 작성할 수 있어요."
        ></textarea>
      </div>
    </div>
  </div>
  <button
    id="request_post_btn"
    type="submit"
    class="w-full h-[56px] text-white rounded-lg font-bold text-Body-1 bg-Low"
  >
    작성하기
  </button>
</form>
{% endblock %}
