<li class="flex flex-col gap-[8px] border-b-[1px] pb-4">
  <form
    id="post_list_form"
    method="POST"
    action="{{ url_for('posts.handle_post_buttons') }}"
  >
    <input type="hidden" name="_id" value="{{ post_data._id }}" />
    <input type="hidden" name="departure" value="{{ post_data.departure }}" />
    <input
      type="hidden"
      name="destination"
      value="{{ post_data.destination }}"
    /><input
      type="hidden"
      name="rides_limit"
      value="{{ post_data.rides_limit }}"
    /><input type="hidden" name="date" value="{{ post_data.date }}" /><input
      type="hidden"
      name="memo"
      value="{{ post_data.memo }}"
    />
    <div class="flex justify-between items-center w-full">
      <div class="flex gap-10 items-center w-2/3 font-semibold text-[18px]">
        <span aria-label="departure">{{ post_data.departure }}</span>
        <i class="fa-solid fa-arrow-right text-gray-400"></i>
        <span aria-label="destination">{{ post_data.destination }}</span>
      </div>
      <div>
        <i class="fa-solid fa-users text-gray-400"></i>
        <span aria-label="current_participants"
          >{{ post_data.current_count }}/{{ post_data.rides_limit }}</span
        >
      </div>
    </div>
    <div class="flex gap-2 items-center">
      <i class="fa-solid fa-circle text-red-600"></i>
      <span>{{ post_data.date }}</span>
    </div>
    <p class="text-[14px] h-[50px] min-h-[50px] py-2">{{ post_data.memo }}</p>
    <div>
      <span class="text-gray-600">{{ post_data.participants }}</span>
    </div>
    <div class="flex justify-end items-center gap-2 text-[14px]">
      {% if post_data.user_id == current_user_id %}
      <button
        type="submit"
        name="action"
        value="edit"
        class="w-[68px] py-1 text-gray-400 bg-gray-100 rounded-sm"
      >
        수정
      </button>
      <button
        type="submit"
        name="action"
        value="delete"
        class="w-[68px] py-1 text-gray-400 bg-gray-100 rounded-sm"
      >
        삭제
      </button>
      {% elif current_user_id in post_data.participants %}
      <button
        type="submit"
        name="action"
        value="cancel"
        class="w-[68px] py-1 text-gray-400 bg-gray-100 rounded-sm"
      >
        취소
      </button>
      {% else %}
      <button
        type="submit"
        name="action"
        value="participate"
        class="w-[68px] py-1 bg-Low text-Strong rounded-sm"
      >
        참여
      </button>
      {% endif %}
    </div>
  </form>
</li>
